<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Orden Inmortal Index</title>
    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google-fonts -->
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kameron:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/delex/bootstrap.min.css" />
    <!-- Fonts-style -->
    <link rel="stylesheet" href="css/delex/styles.css" />
    <!-- Fonts-style -->
    <link rel="stylesheet" href="css/delex/font-awesome.min.css" />
    <!-- Modal-Effect -->
    <link href="css/delex/component.css" rel="stylesheet">
    <!-- owl-carousel -->
    <link href="css/delex/owl.carousel.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/delex/owl.theme.css" rel="stylesheet" type="text/css" media="screen">
    <!-- Template Styles-->
    <link rel="stylesheet" href="css/delex/style.css" />
    <!-- Template Color-->
    <link rel="stylesheet" type="text/css" href="css/delex/green.css" media="screen" id="color-opt" />

</head>

<body data-spy="scroll" data-offset="80">
    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Orden Inmortal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#services">Vídeos</a></li>
                    <li><a href="#twitter_tweet">Fotos</a></li>
                    <li><a href="#contact">Apply</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <!-- /HOME -->
    <section class="main-home" id="home">
        <div class="home-page-photo"></div> <!-- Background image -->
        <div class="home__header-content">
            <div id="main-home-carousel" class="owl-carousel">
                <div>
                    <h1 class="intro-title">Por cierto, estoy muerto.</h1>
                    <p class="intro-text">Sathenar <br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Es la primera vez que me pasa.</h1>
                    <p class="intro-text">Kritus<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Unlucky I guess.</h1>
                    <p class="intro-text">Radamanes<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Me voy hacer un café.</h1>
                    <p class="intro-text">Matojo<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">No me dió el global para cortar.</h1>
                    <p class="intro-text">Sathenar<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">¿Quién habló?</h1>
                    <p class="intro-text">Lukae<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">¿HOLAAA, SE ME ESCUHAAA?</h1>
                    <p class="intro-text">Fokkus<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Ak'agthshi ma uhnish, ak'uq shg'cul vwahuhn! gag OOU KAAXTH SHUUL!</h1>
                    <p class="intro-text">Mati<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">He apago la pantalla sin querer.</h1>
                    <p class="intro-text">Shots<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">No estoy de acuerdo.</h1>
                    <p class="intro-text">Erazhen<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Me he muerto al distraerme mirando la muerte de otro.</h1>
                    <p class="intro-text">Justx<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">Es así.</h1>
                    <p class="intro-text">Kritus<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title">¿Unas flex?</h1>
                    <p class="intro-text">Argudo<br /></p>
                </div><!--slide item like paragraph-->

                <div>
                    <h1 class="intro-title"></h1>
                    <p class="intro-text">Kabattor<br /></p>
                </div><!--slide item like paragraph-->
            </div>
            <a class="btn btn-custom" href="#contact">Envía tu Apply</a>
        </div>
    </section>
    <!-- /End HOME -->
    <!-- / SERVICES -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center">Vídeos</h3>
                    <div class="titleHR"><span></span></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div id="main-photos-carousel">
                    <div>
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <link href="//amp.azure.net/libs/amp/1.0.0/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
                        <script src="//amp.azure.net/libs/amp/1.0.0/azuremediaplayer.min.js"></script>
                        <h3 class="text-center">Castle Nathria: Sire Denathrius Mythic</h3>
                        <video id="vid1" class="azuremediaplayer amp-default-skin amp-big-play-centered" autoplay controls width="640" height="400" poster="../../assets/images/OrdenInmortal.jpg" data-setup='{"logo": { "enabled": false }, "techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS","silverlightSS", "html5"], "nativeControlsForTouch": false, "autoplay": false}'>
                            <source src="https://marcazuremediaservices-frct1.streaming.media.azure.net/ec26604a-8b11-40ec-8251-d5a6d8a60fd8/OISireMM.ism/manifest" type="application/vnd.ms-sstr+xml" />
                            <p class="amp-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                            </p>
                        </video>
                    </div><!--slide item like paragraph-->
                </div>

            </div>
        </div>
    </section>
    <!-- / End services-->
    <!-- SHADOWLANDS PARALLAX-->
    <section class="twitter_tweet parallax" id="twitter_tweet" data-stellar-background-ratio="0.0">
    </section>
    <!-- END SHADOWLANDS PARALLAX -->
    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center">Envía tu Apply</h3>
                    <div class="titleHR"><span></span></div>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfIJLrZpTFbt67ioUIBjX6T8vgvVxhUbOi-OjQnUX9FbR53hw/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div> <!-- container -->
    </section>
    <!-- End CONTACT -->
    <!-- FOOTER begings -->
    <footer id="footer">
        <div class="footer-widgets-wrap">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="footer-content">
                            <a href="https://www.wowprogress.com/guild/eu/zul-jin/Orden+Inmortal" target="_blank"><h4>Wowprogress</h4></a>
                        </div> <!-- end footer-content -->
                    </div> <!-- end col-sm-4 -->
                    <div class="col-sm-4 col-md-4">
                        <div class="footer-content">
                            <a href="https://twitter.com/ordeninmortal?lang=en" target="_blank"><h4>Twitter</h4></a>
                        </div> <!-- end footer-content -->
                    </div> <!-- end col-sm-4 -->
                </div> <!-- end row -->
            </div> <!-- container -->
        </div>
        <div class="footer-bottom text-center">
            <!-- Footer-copyright -->
            <p>©2021 Orden Inmortal</p>
        </div>
    </footer>
    <!-- End footer begings -->
    <!-- Scroll top -->
    <a href="#" class="back-to-top"> <i class="fa fa-chevron-up"> </i> </a>
    <!-- end Style switcher -->
    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- initialize jQuery Library -->
    <script src="lib/delex/jquery.min.js"></script>
    <!-- jquery easing -->
    <script src="lib/delex/jquery.easing.min.js"></script>
    <!-- Bootstrap -->
    <script src="lib/delex/bootstrap.min.js"></script>
    <!-- modal-effect -->
    <script src="lib/delex/classie.js"></script>
    <script src="lib/delex/modalEffects.js"></script>
    <!-- Counter-up -->
    <script src="lib/delex/waypoints.min.js" type="text/javascript"></script>
    <script src="lib/delex/jquery.counterup.min.js" type="text/javascript"></script>
    <!-- SmoothScroll -->
    <script src="lib/delex/SmoothScroll.js"></script>
    <!-- Parallax -->
    <script src="lib/delex/jquery.stellar.min.js"></script>
    <!-- Jquery-Nav -->
    <script src="lib/delex/jquery.nav.js"></script>
    <!-- Owl carousel -->
    <script type="text/javascript" src="lib/delex/owl.carousel.min.js"></script>
    <!-- App JS -->
    <script src="lib/delex/app.js"></script>
    <!-- Switcher script for demo only -->
    <script type="text/javascript" src="lib/delex/switcher.js"></script>
</body>
</html>
