<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <title>Orden Inmortal Index</title>
</head>

<body data-spy="scroll" data-offset="80">
</body>
</html>
@*<body>
        <h3>Castle Nathria: Sire Denathrius Mythic Mode</h3>
        <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0"> </video>
        <script>
            var myOptions = {
                autoplay: false,
                controls: true,
                width: "640",
                height: "400",
                poster: ""
            };
            var myPlayer = amp("azuremediaplayer", myOptions);
            myPlayer.src([{ src: "https://marcazuremediaservices-frct1.streaming.media.azure.net/ec26604a-8b11-40ec-8251-d5a6d8a60fd8/OISireMM.ism/manifest", type: "application/vnd.ms-sstr+xml" },]);
        </script>
        <p></p>
    </body>*@

@*<div class="text-left">
        <h3>Battle of Dazar'alor: Jaina Mythic Mode</h3>
        <iframe width="640" height="400" src="https://www.youtube.com/embed/0YMRGTeRtUo" frameborder="0" allowfullscreen></iframe>
    </div>*@