@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />

    <!-- Site Title-->
    <title>Delex HTML5 Free Responsive Template | Template Stock</title>
</head>
</html>
